{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification du  mot de passe{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retour</a>
    <hr>

    {{ form(form) }}
    <hr>
</div>
{% endblock %}
