{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retour</a>
    <hr>

    {{ form(form) }}
    <hr>
</div>
{% endblock %}
