{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>


    {% if notification is not empty %}
        <div class="alert alert-{{ notification.type ? notification.type : 'infos' }}">{{ notification.message }}</div>
    {% endif %}

    {{ form(form) }}
    <hr>
</div>
{% endblock %}
