{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Création de compte{% endblock %}

{% block content %}
    <h1>Inscription</h1>
    {{ form(form) }}

    <p class="mt-4 text-center">
        Ou souhaitez-vous <a href="{{ path('app_login') }}">se connecter</a> ?
    </p>

{% endblock %}
